@model theSouthtown.Models.User
@{
    ViewBag.Title = "ForgotPassword";
}

<div class="span-24 last"><div class="module">
  <div class="moduleHeader">
    <h3>
          
    </h3>
    <div class="moduleAdd">
          
		</div>
  </div>
  <div class="moduleContent">
    @using (Html.BeginForm()){

               @Html.AntiForgeryToken()
        <div>
            <fieldset>
                <p>
                    <label for="email">Email:</label><br />
                    @Html.TextBox("email", null, new { @class = "title" })
                    @Html.ValidationMessage("email")
                </p>
                <p>
                    <input type="submit" value="Retreive Info" />
                </p>
            </fieldset>
        </div>
    }
  </div>
</div></div>
