
@{ ViewBag.Title = "My Account"; }
<div class="span-24 last"><div class="module">
  <div class="moduleHeader">
    <h3>
          
    </h3>
    <div class="moduleAdd">
          
		</div>
  </div>
  <div class="moduleContent">
  <a href="@Url.Content("~/Admin/Account/ChangePassword")">Change Password</a>
  </div>
</div></div>
